.footer {
    padding: 10px;
    text-align: center;
    margin-top: auto;
    min-height: 60px;
    /* Define uma altura mínima */
    display: flex;
    align-items: center;
    justify-content: center;
}